/* _-----_BODY or GENERAL_-----_ */
body {
  font-family: "Trip Sans Reg";
}
:root {
  --vert-logo: rgb(96, 225, 161);
  --button-black: rgb(0, 0, 0);
  --coral-evidences: rgb(237, 91, 94);
  /*creo var per avere sempre lo stesso colore senza andarlo a cercare */
}
.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h2 {
  font-size: 28px;
  font-family: "Trip Sans Med";
}

h3 {
  font-size: 24px;
  font-family: "Trip Sans Med";
}

p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
}
a:hover {
  color: #5fe0a0;
  text-decoration: underline;
}

/* _-----_HEADER_-----_ */
header {
  /* background-color: blue; */
  height: 70px;
  display: flex;
  justify-content: space-between;
  /* position: fixed;
  width: 100%;
  top: 0; */
}
header img {
  height: 43px;
  margin-top: 12.5px;
}
header nav {
  display: flex;
  align-items: center; /* allineamento orizzontale; */
}
header nav div {
  margin-right: 20px;
  font-size: 17px;
  cursor: pointer;
}
header button {
  border: none;
  background-color: black;
  color: white;
  padding: 11px 23px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 17px;
}
header button:hover {
  background-color: #5fe0a0;
  color: black;
}

/* _-----_MAIN_-----_ */
/* main {
  margin-top: 70px;
} */

h1 {
  font-family: "Trip Sans Med";
  font-size: 54px;
  margin-top: 40px;
  font-weight: bold;
}
h1 span {
  color: var(--coral-evidences);
}
/* ACTIVITIES */
.activities {
  display: flex;
  margin-top: 25px;
}
.activities div {
  border: black solid 1px;
  flex: 1;
  padding: 25px;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  cursor: pointer; /*mette l'indice quando si passa sopra elemento*/
}
.activities div:not(:last-child) {
  margin-right: 20px;
}
.activities span {
  margin-right: 10px;
  max-width: 80px;
  overflow: hidden; /*nasconde elemento eccedente*/
  text-overflow: ellipsis; /*add punti a testo eccedente*/
}
.activities div:hover {
  background-color: #5fe0a0;
  color: white;
}
/* PICS */
/*mi creo una box vuota e ci aggiungo le foto*/
.pictures {
  height: 432px;
  /* background-color: yellowgreen; */
  margin-top: 25px;
  display: flex;
}
/*pic-1 prende il 100% dell'altezza del box pic*/
.pictures .pic-1 {
  height: 100%;
  flex: 1; /*piu importante e piu grande rispetto alle altre*/
  margin-right: 3px;
  /* background-color: violet; */
}
/*pic-2 prende il 100% dell'altezza del box pic, ma invece di una foto ne aggiungo due*/
.pictures .pic-2 {
  height: 100%;
  width: 50%;
  /* background-color: rgb(237, 91, 94); */
}
/*pic-1 img prende il 100% dell'altezza e della laeghezza della box pic1 */
.pictures .pic-1 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/*pic-2 img prende il 100% della larghezza della box pic2 e il 50% - 1 (margini) per l'altezza */
.pictures .pic-2 img {
  height: calc(50% - 1px);
  width: 100%;
  object-fit: cover;
  display: block;
}
.pictures .pic-2 img:last-child {
  margin-top: 2px; /*l'ultima foto prende il margine superiore */
}

/* NAV VISITER */
ol {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  font-size: 12px;
}
.visiter {
  align-items: flex-end;
}

/* informations */
.box {
  height: 450px;
  /* background-color: yellowgreen; */
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 55px;
}
.box-1 {
  width: 545px;
  height: 200px;
  /* background-color: #5fe0a0; */
}
.box-2 {
  width: 450px;
  height: 450px;
  background-color: rgb(237, 91, 94);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.box-1 h2 {
  font-size: 28px;
  font-family: "Trip Sans Med";
}
.box-1 p {
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 27px;
  text-align: justify;
}
.box-2 h2 {
  font-size: 32px;
  font-family: "Trip Sans Med";
  margin-top: 39px;
  margin-left: 33px;
}
.box-2 p {
  font-size: 16px;
  margin-top: 39px;
  margin-left: 33px;
  text-align: justify;
}
.box-2 button {
  border: none;
  background-color: black;
  color: white;
  padding: 11px 23px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 17px;
  margin-top: 39px;
  margin-left: 33px;
}
.box-2 button:hover {
  background-color: #5fe0a0;
  color: black;
}
.box-2 img {
  width: 450px;
  height: 178px;
  object-fit: cover;
  margin-top: 39px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* must */
.must > div {
  height: 350px;
  width: 100%;
  /* background-color: #5fe0a0; */
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}
.must .block-1 {
  width: 25%;
  height: 100%;
  /* background-color: var(--coral-evidences); */
}
.must .block-2 {
  width: 70%;
  height: 100%;
  /* background-color: var(--vert-logo); */
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
}
.block-1 p {
  margin-top: 20px;
  margin-bottom: 20px;
}
.block-carosello {
  /* border: black solid 2px; */
  box-sizing: border-box;
  height: 100%;
  width: calc(100% / 3 - (40px / 3));
  flex-shrink: 0;
  flex-wrap: wrap;
}
.block-carosello:not(:last-child) {
  margin-right: 20px;
}
.block-carosello img {
  object-fit: cover;
  width: 100%;
  height: 200px;
  margin-top: -25px;
}
.block-carosello .pictures {
  position: relative;
}
.block-carosello .circle {
  background-color: red;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -20px;
  right: 10px;
}
.block-carosello img:nth-child(3) {
  background-color: red;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 150px;
  left: 10px;
}
.block-carosello a {
  margin-top: 190px;
  position: absolute;
  font-weight: 700;
  font-size: 17px;
}
.block-carosello .fas {
  margin-top: 210px;
  position: absolute;
  color: #5fe0a0;
}
.block-carosello .tour {
  margin-top: 230px;
  position: absolute;
  font-weight: 700;
  font-size: 14px;
}

/* <!-- Guides de voyageurs --> */

.guides > div {
  height: 450px;
  width: 100%;
  /* background-color: #5fe0a0; */
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}
.guides .block-g {
  width: 32%;
  height: 100%;
  /* background-color: var(--coral-evidences); */
}

.pictures-g img {
  width: 100%;
  object-fit: cover;
}
.pictures-g a {
  font-size: 21px;
  margin-top: 5px;
  font-family: "Trip Sans Med";
}
.pictures-g p {
  font-size: 15px;
  margin-top: 10px;
  font-family: "Trip Sans Reg";
  align-items: center;
}
.pictures-g .topito-logo {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-top: 10px;
  margin-right: 8px;
}
span {
  font-family: "Trip Sans Med";
}
.pictures-g .sponsor {
  display: flex;
  align-items: center;
}

/* footer */

footer {
  height: 100px;
  background-color: white;
  border-top: solid 3px var(--vert-logo);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin-top: 50px;
}
footer a {
  font-family: "Trip Sans Med";
}
footer p {
  font-family: "Trip Sans Reg";
  font-size: 15px;
}
footer img {
  width: 35px;
  margin-right: 10px;
}

/* elements HTML hidden */
.hidden div {
  display: none;
}
.activities div:nth-child(7) {
  display: none;
}

/* media queries */
@media (max-width: 1024px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .hidden {
    display: none;
  }
}

@media (max-width: 1024px) {
  .activities {
    flex-wrap: wrap;
  }

  .activities div:nth-child(7) {
    display: flex;
  }

  .activities div:not(:last-child) {
    margin-right: 0px;
  }
  .activities div {
    width: 25%;
    flex: none;
  }
  .activities div:nth-child(1) {
    margin-bottom: 16px;
    margin-right: 16px;
  }
  .activities div:nth-child(2) {
    margin-bottom: 16px;
    margin-right: 16px;
  }
  .activities div:nth-child(3) {
    margin-bottom: 16px;
    margin-right: 16px;
  }
  .activities div:nth-child(4) {
    margin-bottom: 16px;
  }
}
@media (max-width: 1024px) {
  .pictures .pic-1 {
    width: 100%;
    /*piu importante e piu grande rispetto alle altre*/

    /* background-color: violet; */
  }
}
